<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Image Editor</title>
        <link rel="stylesheet" href="/static/style_base.css" type="text/css" />
        <script src="/static/jquery.js" type="text/javascript"></script>
        <script src="/static/ImageEditor.js" type="text/javascript"></script>
    </head>
    <body>
        <form enctype="multipart/form-data" action="/testsite/form.html" method="post">
            {{ form.as_p }}
            <div id="editDiv">
                <canvas id="mainCanvas" width="300px" height="180px">
                If you can read this, your browser doesn't support the canvas element.
                </canvas>
                <p class="edit" onclick="preview_mode()">
                <a href = "javascript:preview_mode();" class = "edit" > <span class = "brace"> [ </span> Done <span class = "brace">] </span> </a>                </p>
            </div>

            <div id="previewDiv">
                <div id="full-view" class="pic-view">
                    <p> Full Image: </p>
                    <img id="full" src="" />
                </div>

                <div id="thumbnail-view" class="pic-view">
                    <p> Thumbnail: </p>
                    <div  class="container">
                        <img id="thumbnail" src=""/>
                    </div>
                </div>

                <p class="edit" onclick="edit_mode()">
               <a href = "javascript:edit_mode()" class = "edit" > <span class = "brace"> [ </span> Edit Thumbnail <span class = "brace">] </span> </a>

            </div>

            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
